// 
// Xtreme Angular
// 

//(Required file)
@import "variable";

// Import Bootstrap source files (Required file)
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

//This is for the components (Required file)
@import "core/core";
@import "scafholdings";
@import "components";

//This is for the responsive (Required file)
@import "responsive";

//In This scss you can write your scss
@import "custom";


.custom-toast {
    width: 300px;
    padding: 5px;
    background-color: rgb(253, 58, 188);
    border: solid rgb(216, 20, 151);
    border-width: 0 0 0 2px;
    color: #ffffff;
    border-radius: 2px;
    margin-bottom: 10px;
    z-index: 9999;
   
  }


  .custom-toast-success {
    width: 300px;
    padding: 5px;
    background-color: green;
    border: solid rgb(0, 65, 0);
    border-width: 0 0 0 2px;
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .custom-toast-error {
    width: 300px;
    padding: 5px;
    background-color: #f78484;
    border: solid #ce3434;
    border-width: 0 0 0 2px;
    color: #490000;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .custom-toast-warning {
    width: 300px;
    padding: 5px;
    background-color: #F89406;
  border: solid #d87f02;
  border-width: 0 0 0 2px;  
  color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .custom-toast-info {
    width: 300px;
    padding: 5px;
    background-color: rgb(33, 106, 241);
    border: solid rgb(21, 86, 207);
    border-width: 0 0 0 2px;  
    color: #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .toast-top-right {
    top: 50px;
  right: 12px;
  }
