<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="order-tab" data-bs-toggle="tab" data-bs-target="#order" type="button" role="tab"
      aria-controls="order" aria-selected="true">Order Summary</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab"
      aria-controls="details" aria-selected="false">Order Details</button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link" id="assignment-tab" data-bs-toggle="tab" data-bs-target="#assignment" type="button"
      role="tab" aria-controls="assignment" aria-selected="false">Order Initiate  </button>
  </li>

  <!-- <li class="nav-item" role="presentation">
    <button class="nav-link" id="taskassign-tab" data-bs-toggle="tab" data-bs-target="#taskassign" type="button"
      role="tab" aria-controls="tasktaskassign" aria-selected="false">Task Assignment</button>
  </li> -->
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button" role="tab"
      aria-controls="history" aria-selected="false">History</button>
  </li>

  <li class="nav-item" role="presentation">
    <button class="nav-link " id="form-tab" data-bs-toggle="tab" data-bs-target="#form" type="button" role="tab"
        aria-controls="form" aria-selected="false">Order FOrm</button>
</li>




</ul>




<div class="tab-content" id="myTabContent">


  <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
    <div class="container-fluid">

      <div class="container">
        <!-- Title -->
        <div class="d-flex justify-content-between align-items-center py-3">
          <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> WorkOrder #{{ filteredData?.workOrderNumber}}</h2>
        </div>

        <!-- Main content -->
        <div class="row">
          <div class="col-lg-8">
            <!-- Details -->
            <div class="card mb-4">
              <div class="card-body">
                <div class="mb-3 d-flex justify-content-between">
                  <div>

                    <span class="me-3">Order Date: <b>{{filteredData?.orderDate | date}}</b></span>
                    <span class="me-3">Created by: <b>{{filteredData?.clinicName}}</b></span>

                    <span class="badge rounded-pill bg-info" *ngIf="filteredData?.orderStatusId == 1">Order Created</span>
                    <span class="badge rounded-pill bg-warning" *ngIf="filteredData?.orderStatusId == 2">Order In Progress</span>
                    <span class="badge rounded-pill bg-warning" *ngIf="filteredData?.orderStatusId == 3">Order In Progress</span>
                    <span class="badge rounded-pill bg-success" *ngIf="filteredData?.orderStatusId == 4">Order Completed</span>
                
                    
              
                  </div>
                  <div class="d-flex">
                    <!-- <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Invoice</span></button> -->
                    <div class="dropdown">
                      <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                        <i class="bi bi-three-dots-vertical"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <form>
                  <div class="input-group mb-3">
  
                    <input type="text" class="form-control" placeholder="D0189" value="{{ filteredData?.workOrderNumber }}"
                      aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                  <input class="form-control" type="text" placeholder="Client Name" value="{{ filteredData?.clinicName }}">
                  &nbsp;
                  <div class="row">
                    <div class="col-6">
                      <label name="">Expected Date</label>
                      <input class="form-control" type="date" [value]="formatDateToInputDate(filteredData?.requiredDate)">
                    </div>

                  </div>
                  &nbsp;
                  
                  &nbsp;
                  <hr>


                  <div class="wd100">
                    <button class="
                  btn btn-light-success" name="submit" type="submit" id="" data-submit="...Sending"
                      (click)="switchToOrderDetailsTab()">Next</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- Payment -->

          </div>
          <div class="col-lg-4">
            <!-- Customer Notes -->
            <div class="card mb-4">
                <div class="card-body text-center">
                    <h3 class="h6">Days Left for Delivery</h3>
                    <div class="days-counter">
                        <div class="progress-container">
                            <div role="progressbar" [attr.aria-valuenow]="daysUntilDelivery" aria-valuemin="0" aria-valuemax="100" style="--value: {{ daysUntilDelivery }}"></div>
                        </div>
                       <p>{{ daysUntilDelivery }} {{ daysUntilDelivery > 1 ? 'Days' : 'Day' }}</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
    <div class="container-fluid">

        <div class="container">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-center py-3">
                <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Order #{{filteredData?.workOrderNumber}}</h2>
            </div>

            <!-- Main content -->
            <div class="row">
                <div class="col-lg-8">
                    <!-- Details -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">
                                <div>
                                    <span class="me-3">{{filteredData?.orderDate | date}}</span>
                                    <span class="me-3">#{{filteredData?.workOrderNumber}}</span>
                                    <span class="badge rounded-pill bg-info" *ngIf="filteredData?.orderStatusId == 1">Order Created</span>
                                    <span class="badge rounded-pill bg-warning" *ngIf="filteredData?.orderStatusId == 2">Order In Progress</span>
                                    <span class="badge rounded-pill bg-warning" *ngIf="filteredData?.orderStatusId == 3">Order In Progress</span>
                                    <span class="badge rounded-pill bg-success" *ngIf="filteredData?.orderStatusId == 4">Order Completed</span>
                                </div>
                                <div class="d-flex">
                    
    
                                </div>
                            </div>
                          


                                         <table class="table table-borderless">
                                <tbody>
                                    <ng-container >
                                        <tr >
                                            <td>
                                                <div class="d-flex mb-2">
                                                    <div class="flex-shrink-0">
                                                        <img src="assets/images/files/2.jpg" alt="" width="35" class="img-fluid">
                                                    </div>
                                                    <div class="flex-lg-grow-1 ms-3">
                                                        <h6 class="small mb-0">
                                                            <a href="#" class="text-reset">
                                                                <ng-container *ngIf="filteredData?.type1 && filteredData.option1">
                                                                  <p><strong>{{ filteredData.type1 }}: </strong>{{ filteredData.option1 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type2 && filteredData.option2">
                                                                  <p><strong>{{ filteredData.type2 }}: </strong>{{ filteredData.option2 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type3 && filteredData.option3">
                                                                  <p><strong>{{ filteredData.type3 }}: </strong>{{ filteredData.option3 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type4 && filteredData.option4">
                                                                  <p><strong>{{ filteredData.type4 }}: </strong>{{ filteredData.option4 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type5 && filteredData.option5">
                                                                  <p><strong>{{ filteredData.type5 }}: </strong>{{ filteredData.option5 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type6 && filteredData.option6">
                                                                  <p><strong>{{ filteredData.type6 }}: </strong>{{ filteredData.option6 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type7 && filteredData.option7">
                                                                  <p><strong>{{ filteredData.type7 }}: </strong>{{ filteredData.option7 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type8 && filteredData.option8">
                                                                  <p><strong>{{ filteredData.type8 }}: </strong>{{ filteredData.option8 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type9 && filteredData.option9">
                                                                  <p><strong>{{ filteredData.type9 }}: </strong>{{ filteredData.option9 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type10 && filteredData.option10">
                                                                  <p><strong>{{ filteredData.type10 }}: </strong>{{ filteredData.option10 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type11 && filteredData.option11">
                                                                  <p><strong>{{ filteredData.type11 }}: </strong>{{ filteredData.option11 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type12 && filteredData.option12">
                                                                  <p><strong>{{ filteredData.type12 }}: </strong>{{ filteredData.option12 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type13 && filteredData.option13">
                                                                  <p><strong>{{ filteredData.type13 }}: </strong>{{ filteredData.option13 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type14 && filteredData.option14">
                                                                  <p><strong>{{ filteredData.type14 }}: </strong>{{ filteredData.option14 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type15 && filteredData.option15">
                                                                  <p><strong>{{ filteredData.type15 }}: </strong>{{ filteredData.option15 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type16 && filteredData.option16">
                                                                  <p><strong>{{ filteredData.type16 }}: </strong>{{ filteredData.option16 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type17 && filteredData.option17">
                                                                  <p><strong>{{ filteredData.type17 }}: </strong>{{ filteredData.option17 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type18 && filteredData.option18">
                                                                  <p><strong>{{ filteredData.type18 }}: </strong>{{ filteredData.option18 }}</p>
                                                                </ng-container>
                                                                <ng-container *ngIf="filteredData?.type19 && filteredData.option19">
                                                                  <p><strong>{{ filteredData.type19 }}: </strong>{{ filteredData.option19 }}</p>
                                                                </ng-container>
                                                              </a>
                                                              
                                                              
                                                              
                                                        </h6>
                                                    </div>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>   
                                    </ng-container>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                    <!-- Payment -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                      
                                <div class="col">
                                    <h3 class="h6">Billing address</h3>
                                    <address>
                                      <strong>{{userInfo.firstName}}{{userInfo.lastName}}</strong><br>
                                      {{UserAddInfo.address}}<br>
                                      {{UserAddInfo.city}}, {{UserAddInfo.state}}, {{UserAddInfo.pincode}}, {{UserAddInfo.country}}<br>
                                      <abbr title="Phone">P:</abbr> {{userInfo.mobileNumber}}
                                  </address>
                                  <div class="wd100">
                                    <button class="
                                  btn btn-light-success" name="submit" type="submit" id="" data-submit="...Sending"
                                      (click)="switchToAssignmentTab()">Next</button>
                                  </div>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Customer Notes -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="h6">Basic Order Information</h3>
                            <strong>Clinic : {{filteredData.clinicName}}</strong><br>
                            Consultant Name: {{filteredData.consultantName}}<br>
                            Phone Number : {{filteredData.phoneNumber}}<br>
                            <abbr title="Service">Service : </abbr> {{filteredData.service}}
                        </div>
                    </div>
                    <div class="card mb-4">
                        <!-- Shipping information -->
                        <div class="card-body">
                            <h3 class="h6">Order Date</h3>
                            <strong>Date :</strong>
                            <span class="text-decoration-underline" >{{filteredData.orderDate | date}}</span>
                            <hr>
                            <h3 class="h6">Address</h3>
                            <address>
                                <strong>{{userInfo.firstName}}{{userInfo.lastName}}</strong><br>
                                {{UserAddInfo.address}}<br>
                                {{UserAddInfo.city}}, {{UserAddInfo.state}}, {{UserAddInfo.pincode}}, {{UserAddInfo.country}}<br>
                                <abbr title="Phone">P:</abbr> {{userInfo.mobileNumber}}
                            </address>

                          
          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

  <div class="tab-pane fade" id="assignment" role="tabpanel" aria-labelledby="assignment-tab">
    <div class="container">
      <!-- Title -->
      <div class="d-flex justify-content-between align-items-center py-3">
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> WorkOrder #{{ filteredData?.workOrderNumber }}</h2>
      </div>

      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>

                  <span class="me-3">Order Date: <b>{{filteredData?.orderDate}}</b></span>
                  <span class="me-3">Created by: <b>{{filteredData?.clinicName}}</b></span>
                  <span class="badge rounded-pill bg-info" *ngIf="filteredData?.orderStatusId == 1">Order Created</span>
                  <span class="badge rounded-pill bg-warning" *ngIf="filteredData?.orderStatusId == 2">Order In Progress</span>
                  <span class="badge rounded-pill bg-warning" *ngIf="filteredData?.orderStatusId == 3">Order In Progress</span>
                  <span class="badge rounded-pill bg-success" *ngIf="filteredData?.orderStatusId == 4">Order Completed</span>
                </div>
                <div class="d-flex">
           
                </div>
              </div>
              <form >
                <ng-container *ngIf="filteredData?.orderStatusId === 1 ">
                  <span class="me-3">Order Assignment: <b>Not Assigned</b></span>
                  <br>
                  <div>
                    <br>
                    <label name="">Status</label>
                    <select class="form-control form-select" name="service" id="service" placeholder="Order Date">
                      <option value="Denture">Start</option>
                      <option value="Partials">Hold</option>

                    </select>


                    <!--To change later-->
                    <label name="">Workflow Selection</label>


                 

                    <select class="form-control form-select" name="workflow" id="workflow" placeholder="Workflow Selection" [(ngModel)]="selectedWorkflowToken">
                      <option *ngFor="let item of workflowResult" [value]="item.workflowToken">{{ item.workflowName }}</option>
                    </select>




                    <label name="">Date Started </label>
                    <input class="form-control" type="date" required [(ngModel)]="orderDate" [value]="defaultDate">



                    &nbsp;

                  </div>

                  <div class="wd100">
                    <button class="btn btn-light-success" type="button" (click)="switchToHistoryTab()">Start</button>
  
                    <!--By default it was switchToTaskTab-->
                  </div>
                </ng-container>


                <ng-container *ngIf="filteredData?.orderStatusId === 2 || filteredData?.orderStatusId === 3 || filteredData?.orderStatusId === 4 || filteredData?.orderStatusId === 5">
                  <div>Assigned</div>
                </ng-container>


                
              </form>
            </div>
          </div>
          <!-- Payment -->

        </div>
        <div class="col-lg-4">
          <!-- Customer Notes -->
          <div class="card mb-4">
              <div class="card-body text-center">
                  <h3 class="h6">Days Left for Delivery</h3>
                  <div class="days-counter">
                      <div class="progress-container">
                          <div role="progressbar" [attr.aria-valuenow]="daysUntilDelivery" aria-valuemin="0" aria-valuemax="100" style="--value: {{ daysUntilDelivery }}"></div>
                      </div>
                     <p>{{ daysUntilDelivery }} {{ daysUntilDelivery > 1 ? 'Days' : 'Day' }}</p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>


  <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">    <div class="container py-5">
    <div class="row">

      <div class="col-md-12 col-lg-12">
        <div id="tracking-pre"></div>
        <div id="tracking">
          <div class="tracking-list">
            <div class="tracking-item">
              <div class="tracking-icon status-intransit">
                <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="circle"
                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                  </path>
                </svg>
              </div>
              <div class="tracking-date"><img
                  src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                  class="img-responsive" alt="order-placed" /></div>
              <div class="tracking-content">Order Placed<span>09 Aug 2023, 10:00am</span></div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-intransit">
                <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="circle"
                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                  </path>
                </svg>
              </div>
              <div class="tracking-date"><img
                  src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                  class="img-responsive" alt="order-placed" /></div>
              <div class="tracking-content">Order Confirmed<span>09 Aug 2023, 10:30am</span></div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-intransit">
                <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="circle"
                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                  </path>
                </svg>
              </div>
              <div class="tracking-date"><img
                  src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                  class="img-responsive" alt="order-placed" /></div>
              <div class="tracking-content">Mold creation<span>15 Aug 2023, 12:00pm</span></div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-intransit">
                <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="circle"
                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                  </path>
                </svg>
              </div>
              <div class="tracking-date"><img
                  src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                  class="img-responsive" alt="order-placed" /></div>
              <div class="tracking-content">Doctors'Approval<span>16 Aug 2023, 02:00pm</span></div>
            </div>
            <div class="tracking-item">
              <div class="tracking-icon status-current blinker">
                <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="circle"
                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                  </path>
                </svg>
              </div>
              <div class="tracking-date"><img
                  src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                  class="img-responsive" alt="order-placed" /></div>
              <div class="tracking-content">Production<span>20 Aug 2025, 03:00pm</span></div>
            </div>

            <div class="tracking-item-pending">
              <div class="tracking-icon status-intransit">
                <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="circle"
                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                  </path>
                </svg>
              </div>
              <div class="tracking-date"><img
                  src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                  class="img-responsive" alt="order-placed" /></div>
              <div class="tracking-content">Out for Delivery<span>12 Aug 2023, 05:00pm</span></div>
            </div>
            <div class="tracking-item-pending">
              <div class="tracking-icon status-intransit">
                <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="circle"
                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                  <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                  </path>
                </svg>
              </div>
              <div class="tracking-date"><img
                  src="https://raw.githubusercontent.com/shajo/portfolio/a02c5579c3ebe185bb1fc085909c582bf5fad802/delivery.svg"
                  class="img-responsive" alt="order-placed" /></div>
              <div class="tracking-content">Delivered<span>12 Aug 2025, 09:00pm</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></div>


  <div class="tab-pane fade" id="form" role="tabpanel" aria-labelledby="form-tab">
    <app-order-form></app-order-form>
  </div>








