<!-- authentication.component.html -->
<div>
    <div>
       <div class="container">
        <div class="row" >
          <div class="card">
          
             <h4 class="card-title">Add Department</h4>
 
 
             <h5 class="card-subtitle">Create NewDepartments</h5>
     
             <div>
                 <form [formGroup]="register" (ngSubmit)="onSubmit()">
                   
                     <div>
     
                         <input type="text" formControlName="firstName" class="form-control" data-bs-toggle="tooltip"
                             data-bs-placement="right" data-bs-title="This top tooltip is themed via CSS variables."
                             [ngClass]="{ 'is-invalid': reg_submitted && r['firstName'].errors }" placeholder="firstName name" />
                         <div *ngIf="reg_submitted&& r['firstName'].errors" class="invalid-feedback">
                             <div *ngIf="r['firstName'].errors && r['firstName'].errors['required']">First Name is required</div>
                         </div>
     
                         <div *ngIf="reg_submitted && r['firstName'].errors" class="invalid-feedback">
                             <div *ngIf="r['firstName'].errors && r['firstName'].errors['firstName']">Check your First Name</div>
                         </div>
     
     
     
                         <input type="text" formControlName="lastName" class="form-control" data-bs-toggle="tooltip"
                         data-bs-placement="right" data-bs-title="This top tooltip is themed via CSS variables."
                         [ngClass]="{ 'is-invalid': reg_submitted && r['lastName'].errors }" placeholder="lastName name" />
                     <div *ngIf="reg_submitted&& r['lastName'].errors" class="invalid-feedback">
                         <div *ngIf="r['lastName'].errors && r['lastName'].errors['required']">First Name is required</div>
                     </div>
     
                     <div *ngIf="reg_submitted && r['lastName'].errors" class="invalid-feedback">
                         <div *ngIf="r['lastName'].errors && r['lastName'].errors['lastName']">Check your First Name</div>
                     </div>
     
     
     
                         <input type="email" formControlName="email" class="form-control"
                             [ngClass]="{ 'is-invalid': reg_submitted && r['email'].errors }" placeholder="Email" />
                         <div *ngIf="reg_submitted && r['email'].errors" class="invalid-feedback">
                             <div *ngIf="r['email'].errors && r['email'].errors['required']">Email is required</div>
                         </div>
                         <div *ngIf="reg_submitted && r['email'].errors" class="invalid-feedback">
                             <div *ngIf="r['email'].errors && r['email'].errors['email']">Check your email address</div>
                         </div>
     
                      
     
                         <input type="password" formControlName="password" class="form-control"
                             [ngClass]="{ 'is-invalid': reg_submitted && r['password'].errors }" placeholder="Password" />
                         <div *ngIf="reg_submitted && r['password'].errors" class="invalid-feedback">
                             <div *ngIf="r['password'].errors && r['password'].errors['required']">Password is required</div>
                         </div>
                         <div *ngIf="reg_submitted && r['password'].errors" class="invalid-feedback">
                             <div *ngIf="r['password'].errors && r['password'].errors['minLength']">Password should have more
                                 than
                                 8 characters</div>
                         </div>
     
                         <div *ngIf="reg_submitted && r['password'].errors" class="invalid-feedback">
                             <div *ngIf="r['password'].errors && r['password'].errors['pattern']"> Your current password is
                                 weak.
                                 <div>
                                     <p>
                                         Must contain atleast a capital letter, a symbol and two numbers.
                                     </p>
                                 </div>
                             </div>
                         </div>




                         
                         <input type="confirmPassword" formControlName="confirmPassword" class="form-control"
                             [ngClass]="{ 'is-invalid': reg_submitted && r['confirmPassword'].errors }" placeholder="confirmPassword" />
                         <div *ngIf="reg_submitted && r['confirmPassword'].errors" class="invalid-feedback">
                             <div *ngIf="r['confirmPassword'].errors && r['confirmPassword'].errors['required']">Confirm Password is required</div>
                         </div>
                         <div *ngIf="reg_submitted && r['confirmPassword'].errors" class="invalid-feedback">
                             <div *ngIf="r['confirmPassword'].errors && r['confirmPassword'].errors['minLength']">Confirm Password should have more
                                 than
                                 8 characters</div>
                         </div>
     
                         <div *ngIf="reg_submitted && r['confirmPassword'].errors" class="invalid-feedback">
                             <div *ngIf="r['confirmPassword'].errors && r['confirmPassword'].errors['pattern']"> Your current password is
                                 weak.
                                 <div>
                                     <p>
                                         Must contain atleast a capital letter, a symbol and two numbers.
                                     </p>
                                 </div>
                             </div>
                         </div>
     
     
                         <p class="p-0 m-0" style="font-style: italic;color: #ff0000;font-size: small;"
                             *ngIf="RegisterError">
                             {{error_message}}</p>
     
                         <button type="submit" >Register Department</button>
                     </div>
     
                 </form>
     
             </div>
        
            <br>
 
          </div>
       </div>
        </div>
      
    </div>
 </div>
 
 